
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;

  background:radial-gradient(ellipse at center, rgba(255,254,234,1) 0%, rgba(255,254,234,1) 35%, #B7E8EB 100%);

}

.container {
  margin-top: 30px;
}

header {
  text-align: center;
}

.table {
  margin-top: 30px;
  white-space: nowrap;
}

.table th,
.table td {
  vertical-align: middle;
}

.table th:nth-child(2),
.table td:nth-child(2) {
  text-align: right;
}

.table td:last-child {
  text-align: center;
}

.table td.completed {
  text-decoration: line-through;
}

.btn-primary {
  margin-top: 10px;
}
.form-group input{
  margin-left: 5px;
  margin-right: 5px;
}

.form-group {
  display: flex;
  
}
#anadir {
  text-align: center !important;
}

#bs-example-navbar-collapse-1{
  text-align: center;
}
@media screen and (max-width: 600px) {
 
  table {
table-layout: fixed;
width: 90%;
}
table th, table td ,table thead {
  padding: 10px;
  text-align: left;
  }

  thead{
    display: inline-table;
    display: block;
  }
/*
  thead {
    
    display: inline-table;
    width:1vw;
    white-space:nowrap;
  }
  th {

    display:inline-table;
    text-align: center;
    vertical-align: middle;
  }
  td {
    white-space:nowrap;
    display:inline-table;
    
  }
  td:before {
    content: attr(data-label);
    
    font-weight: bold;
    margin-right: 10px;
    
  }*/
  td .btn {
    width:auto;
    font-size: 1rem!important;
    padding: 0px!important;
    border-radius: 5px;
    white-space:nowrap;
  }
  td .edit-btn {
    display:inline-block;

  }
  
}